{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">

    <h2 class="mb-3">Login</h2>

    <form method="POST">
      <div class="mb-3">
        <input class="form-control" type="text" name="username" placeholder="Usuário">
      </div>

      <div class="mb-3">
        <input class="form-control" type="password" name="password" placeholder="Senha">
      </div>

      <button class="btn btn-primary w-100">Entrar</button>
    </form>

  </div>
</div>
{% endblock %}